name: CI

on:
    push:
        branches:
            - main
            - "feature/*"
            - "release/*"
    pull_request:
        branches:
            - main
            - "release/*"

jobs:
    test:
        runs-on: ubuntu-latest

        services:
            docker:
                image: docker:19.03.12
                options: --privileged

        steps:
            - uses: actions/checkout@v2
            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: "20"

            - name: Install dependencies
              run: npm install

            - name: Run tests
              run: npm test

    build-and-push:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - uses: actions/checkout@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build and push
              id: docker_build
              run: |
                  docker build -t yfn-cat-app:${{ github.sha }} .
                  docker tag yfn-cat-app:${{ github.sha }} {{ secrets.DOCKER_USERNAME }}/yfn-cat-app:${{ github.sha }}
                  docker tag yfn-cat-app:${{ github.sha }} aototne/yfn-cat-app:latest
                  docker push {{ secrets.DOCKER_USERNAME }}/yfn-cat-app:${{ github.sha }}
                  docker push {{ secrets.DOCKER_USERNAME }}/yfn-cat-app:latest

    release:
        runs-on: ubuntu-latest
        needs: build-and-push
        if: github.event_name == 'release'
        steps:
            - uses: actions/checkout@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build and push
              id: docker_build
              run: |
                  docker build -t yfn-cat-app:${{ github.sha }} .
                  docker tag yfn-cat-app:${{ github.sha }} {{ secrets.DOCKER_USERNAME }}/yfn-cat-app:release-${{ github.event.release.tag_name }}
                  docker push {{ secrets.DOCKER_USERNAME }}/yfn-cat-app:release-${{ github.event.release.tag_name }}
